/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--primary);
    border-color: var(--primary);
  }
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Hieronder komen jouw animaties */

.changeBackgroundColor {
  animation-name: changeBackgroundColor;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes changeBackgroundColor {
  0% {
    background: red;
  }
  30% {
    background: green;
  }
  60% {
    background: blue;
  }
  100% {
    background: red;
  }
}

.spinButton {
  animation-name: spinButton;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes spinButton {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  50% {
    transform: rotateY(180deg) rotateX(120deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  overflow: auto;
  color: var(--secondary);
  background-color: var(--highlight-secondary);
}

@keyframes move-out {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.moveOut {
  animation-name: move-out;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

::view-transition-old(:root) {
  animation: 0.4s move-out both;
}

::view-transition-new(:root) {
  animation: 1s move-in;
}